//bodyer-all
.bodyer-all{
    padding-top: 120px;
    padding-bottom: 228px;
    background: url(../images/background-indeximg2.jpg) no-repeat center top;
}
.register-content{
    width: 982px;
    height: 420px;
    background: #f9f6f1;
    margin: auto;
    //注册板块左部分
    .reg-con{
        float: left;
        width: 646px;
        height: 403px;
        border: 1px solid #dedede;
        border-right-color: #ccc;
        padding-top: 15px;
        padding-left: 14px;
        h3{
            font-size: 12px;
            height: 12px;
            line-height: 12px;
            color: #9e002b;
            font-weight: bold;
            i{
                color: #545471;
                margin: 0 10px;
            }
            span{
                color: #a8a8a8;
            }
        }
        h4{
            height: 16px;
            color: #8c5b29;
            line-height: 16px;
            text-align: center;
            font-weight: bold;
            margin-top: 7px;
            margin-bottom: 46px;
        }
        dl{
            margin-bottom: 25px;
            dt{
                width: 183px;
                height: 26px;
                float: left;
                font-size: 12px;
                color: #545454;
                line-height: 26px;
                text-align: right;
                padding-right: 15px;
                span{
                    color: #dc005e;
                }
            }
            dd{
                float: left;
                input{
                    float: left;
                    width: 240px;
                    height: 23px;
                    border-top: 3px solid #e8e3df;
                    border-left: 3px solid #e8e3df;
                    font-size: 12px;
                    line-height: 23px;
                    padding-left: 3px;
                }
                .txt-msg{
                    width: 124px;
                }
                .ven-code{
                    display: block;
                    float: left;
                    width: 78px;
                    height: 23px;
                    border: 1px solid #e0dfdd;
                    background: #848484;
                    text-align: center;
                    line-height: 25px;
                    padding: 1px;
                    margin-left: 5px;
                    color: #fff;
                }
                .get-msg{
                    float: left;
                    width: 107px;
                    height: 16px;
                    background: #fae0bb;
                    border: none;
                    color: #666666;
                    font-size: 12px;
                    text-align: center;
                    line-height: 16px;
                    padding-top: 2px;
                    padding-left: 0;
                    margin-top: 3px;
                    margin-left: 10px;
                }
                .get-msg:hover {
                    cursor: pointer;
                }
                span{
                    font-size: 12px;
                    color: #bc1447;
                    line-height: 26px;
                    padding-left: 5px;
                }
            }
        }
        .registor-sub{
            width: 124px;
            height: 30px;
            background: #9e002b;
            color: #fff;
            font-size: 12px;
            text-align: center;
            line-height: 30px;
            margin-left: 200px;
        }
        .registor-sub:hover{
            cursor: pointer;
        }
    }
    //注册版块右部分
    .go-otherLink{
        float: left;
        width: 289px;
        height: 418px;
        border: 1px solid #dedede;
        border-left: none;
        padding-left: 30px;
        .go-login{
            h2{
                height: 16px;
                color: #8c5b29;
                line-height: 16px;
                font-weight: bold;
                padding-top: 36px;
                letter-spacing: 0;
            }
            a{
                display: block;
                width: 124px;
                height: 30px;
                background: #9e002b;
                color: #fff;
                font-size: 12px;
                text-align: center;
                line-height: 30px;
                margin: 34px 0 20px 0;
            }
            p{
                color: #545454;
                font-size: 12px;
                line-height: 18px;
                letter-spacing: 1px;
                margin-bottom: 42px;
            }
        }
        .other-link{
            h4{
                height: 16px;
                color: #8c5b29;
                line-height: 16px;
                font-weight: bold;
                letter-spacing: 0;
                margin-bottom: 10px;
            }
            a{
                float: left;
                height: 16px;
                line-height: 16px;
                font-size: 12px;
                color: #333333;
                padding-left: 20px;
                padding-right: 7px;
                background: url(../images/coop-icon.png)no-repeat;
                margin-right: 5px;
            }
            a:nth-of-type(2){
                padding-left: 26px;
                background-position: -83px 0;
            }
            a:nth-of-type(3){
                padding-left: 26px;
                background-position: -184px 0;
            }
        }
        .yq-link{
            margin-bottom: 43px;
        }
        .visitor-pass a{
            background: url(../images/visitor.png)no-repeat;
       }
    }
}
//错误提示弹出框
.mask{
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background: rgba(0,0,0,.5);
    // display: none;
    .mask-con{
        width: 316px;
        min-height: 100px;
        background: #fff;
        padding-top: 30px;
        position: absolute;
        // left: 0;
        // right: 0;
        // top: 0;
        // bottom: 0;
        // margin: auto; 
        span{
            display: block;
            width: 19px;
            height: 19px;
            background: url(../images/icon_close.png) no-repeat;
            position: absolute;
            top: 4px;
            right: 4px;
        }
        span:hover{
            cursor: pointer;
        }
        p{
            width: 216px;
            margin: 0 auto 10px;
            font-size: 14px;
            line-height: 22px;
            font-weight: bold;
            text-align: center;
        }
        input{
            display: block;
            width: 115px;
            height: 25px;
            background: #890220;
            font-size: 14px;
            color: #fff;
            text-align: center;
            line-height: 25px;
            border-radius: 3px;
            margin: 0 auto 26px;
        }
        input:hover{
            cursor: pointer;
        }
    }
}